<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>thymeleaf learn</h1>
<p th:text="${#temporals.format(today,'yyyy-MM-dd')}"></p>
<div th:object="${person}">
	<p th:text="|name : *{name}|"></p>
	<p th:text="|age : *{age}|"></p>
	<p>hobby</p>
	<ul th:each="hobby : *{hobbies}">
		<li th:text="${hobby}"></li>
		<span th:if="${hobby == 'exercise'}">(대표취미)</span>
	</ul>
</div>

<a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a>
 
</body>
</html>